@use "src/shared/styles/token" as *;

.auth-main {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  background-color: $color-background;

  .auth-container {
    @include flex-column-center;
    padding: $spacing-lg $spacing-xl;
    background-color: $color-background-secondary;
    border-radius: $radius-lg;
    box-shadow: $shadow-lg;
    gap: $spacing-xl;

    .auth-textfield {
      @include flex-column-center;
      width: 100%;
      padding: $spacing-sm;
      gap: $spacing-md;

      a {
        color: inherit;
        text-decoration: none;
      }

      span {
        @include text-sm;
        cursor: pointer;
      }
    }
  }
}