@use "@bigtablet/design-system/scss/token" as token;

.auth-main {
  width: 100vw;
  height: 100vh;
  @include token.flex-center;
  background-color: token.$color-background;

  .auth-container {
    @include token.flex-column-center;
    padding: token.$spacing-lg token.$spacing-xl;
    background-color: token.$color-background-secondary;
    border-radius: token.$radius-lg;
    box-shadow: token.$shadow-lg;
    gap: token.$spacing-xl;

    .auth-textfield {
      @include token.flex-column-center;
      width: 100%;
      padding: token.$spacing-sm;
      gap: token.$spacing-md;

      a {
        color: inherit;
        text-decoration: none;
      }

      span {
        @include token.text-sm;
        cursor: pointer;
      }
    }
  }
}